---
jenkins:
  systemMessage: MovieApp Jenkins

unclassified:
  shell:
    shell: /bin/bash

credentials:
  system:
    domainCredentials:
    - credentials:
      - usernamePassword:
          id: DockerCreds
          username: {{ docker_username }}
          password: {{ docker_password }}
          description: Credentials for Docker Hub
          scope: GLOBAL
      - usernamePassword:
          id: GitCreds
          username: {{ git_username }}
          password: {{ git_password }}
          description: Credentials for Git
          scope: GLOBAL

tool:
  git:
    installations:
      - name: Default
        home: /usr/bin/git
  dockerTool:
    installations:
      - name: Default
        home: /usr/bin/
